@import "@slidev/client/styles/layouts-base.css";

:root {
  --slidev-theme-primary: hsl(262 83% 19%);
  --slidev-theme-strong: hsl(262 100% 50%);
}

.slidev-layout {
  @apply font-serif;

  font-size: 1.5rem;

  p {
    line-height: 1.5;

    &:first-child {
      margin-top: unset;
    }
  }

  li li {
    font-size: 90%;
    list-style-type: circle;
  }

  /* layouts */

  &.default {
    @apply bg-cover bg-[url("/bg-default.svg")];

    h1 {
      @apply text-3xl text-white bg-primary -mx-14 px-14 -mt-10 py-6 mb-6;
    }
  }

  &.cover {
    @apply text-white bg-primary bg-cover bg-[url("/bg-cover.svg")];

    h1 {
      font-size: 2.68rem;
      line-height: 1.4;
    }

    p {
      opacity: 0.75;
    }
  }

  &.quote {
    @apply bg-cover bg-[url("/bg-quote.svg")];

    h1 {
      font-size: 4rem;
      color: hsl(262 83% 33%);
    }
  }

  &.section {
    @apply text-white bg-primary bg-cover bg-[url("/bg-section.svg")];

    h1 {
      font-size: 3rem;
      line-height: 1.4;
    }

    p {
      opacity: 0.75;
    }
  }
}

.misunderstanding {
  @apply text-center mt-20;

  strong {
    @apply block mb-4 font-normal text-5xl;
    color: var(--slidev-theme-strong);
  }
}

.right-image {
  @apply w-128;
}

.right-image-light {
  @apply w-128 border border-dark;
}
