:root {
  --slidev-theme-primary: hsl(262 83% 19%);
  --slidev-theme-strong: hsl(262 100% 50%);
}

.slidev-layout {
  @apply font-serif;

  font-size: 1.5rem;

  p {
    line-height: 1.5;

    &:first-child {
      margin-top: unset;
    }
  }

  li li {
    font-size: 90%;
    list-style-type: circle;
  }
}
